body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    font-size: 15px;
}

.content{
    margin-top: 20px;
}

.dropdown-menu a{
    width: auto;
}